# Local attributes for forcing line endings normalization of specific files

* text=auto

# Git files
.gitattributes text eol=lf encoding=utf-8
.gitignore text eol=lf encoding=utf-8

# EditorConfig files
.editorconfig text eol=crlf encoding=utf-8

# MSBuild files
*.sln text eol=crlf encoding=utf-8-bom
*.vcxproj text eol=crlf encoding=utf-8
*.props text eol=crlf encoding=utf-8

# CPlusPlus files
*.cpp text eol=crlf encoding=utf-8
